@import "variables";

.hello_section{
	padding: 5rem 9rem;

	display: flex;
	justify-content: space-between;
	align-items: center;


}

.code{
	width: 40%;
	height: auto;

	display: grid;

	grid-template-columns: 6% repeat(3, 6%) 76%;
	line-height: 1.875rem;
	align-items: center;
	.line_number{
		color: $light-gray;
		user-select: none;
	}

	.code_line {
		width: .0938rem;
		height: 95%;
		background-color: $light-gray;
		margin: auto;
		transform: scaleY(110%)
	}

	.text{	
		padding-left: .625rem;
		width: 100%;
		font-weight: 600;
		
		.purple{
			color: $purple;
		}
		.green{
			color: $light-green;
		}
		.yellow{
			color: $yellow;
		}
		.blue{
			color: $sky-blue;
		}
		.coral{
			color: $coral;
		}
	}
	.inner_code{
		padding-left: 1.875rem;
	}
}

.big_text{
	width:45vw;
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;

	gap: 13px;

	h1{
		font-size: 11vw;
		font-weight: 900;
		color: $light-green;
		line-height: 9vw;
	}
	h2{
		font-size: 5.5vw;
		font-weight: 900;
	}
	#typeWriterText{
		color:$purple;

		span {
			margin-left: 7px;
			border-right: .1em solid;
			animation: caret 1s steps(1) infinite;
		}
		@keyframes caret {
			50% {
				border-color: transparent;
			}
		}
	}
}

@media screen and (max-width: 1350px) {
	.hello_section{
		padding: 3rem 5rem;
	}
}